Repository jbossas/eap-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, examples, charts, eap8, documentation

.github/labeler.yml:

repo:
  - ./*
examples:
  - examples/*
charts:
  - charts/*
eap8:
  - charts/eap8/**/*
documentation:
  - ./README.md
  - charts/**/README.md
  - charts/**/values.schema.json

Remove use of JDK 11 images
  charts/eap8/README.md
  charts/eap8/values.schema.json
  charts/eap8/values.yaml
Labels: eap8, documentation

[JBEAP-24243] Update the examples to use EAP 8 helloworld quickstart
  examples/helloworld-rs/README.adoc
  examples/helloworld-rs/eap-mvn-settings-patch.yaml
  examples/helloworld-rs/eap8-dev.yaml
  examples/helloworld-rs/helm.yaml
  examples/helloworld-rs/ocp-settings.xml
  examples/helloworld/README.adoc
  examples/helloworld/helm.yaml
Labels: none

Fix typo
  examples/helloworld/README.adoc
Labels: none

Fix version to 1.0.0, add appVersion 8.0.0.Beta
  charts/eap8/Chart.yaml
Labels: eap8

Update index.yaml
  index.yaml
Labels: repo

[JBEAP-24436] Update metering labels
  charts/eap8/templates/_helpers.tpl
Labels: eap8

[JBEAP-24445] Update metering labels
  charts/eap74/templates/_helpers.tpl
Labels: none

Bump chart version to 1.1.1
  charts/eap74/Chart.yaml
Labels: none

[#39] fix name in OpenShift Dev Console
  charts/eap74/Chart.yaml
Labels: none

Remove resources other than EAP 7.4
  charts/eap-xp3/.helmignore
  charts/eap-xp3/Chart.yaml
  charts/eap-xp3/README.md
  charts/eap-xp3/templates/NOTES.txt
  charts/eap-xp3/templates/_helpers.tpl
  charts/eap-xp3/templates/buildconfig-bootable-jar.yaml
  charts/eap-xp3/templates/buildconfig-s2i-build-artifacts.yaml
  charts/eap-xp3/templates/buildconfig-s2i.yaml
  charts/eap-xp3/templates/deployment.yaml
  charts/eap-xp3/templates/imagestream.yaml
  charts/eap-xp3/templates/route.yaml
  charts/eap-xp3/templates/service.yaml
  charts/eap-xp3/values.schema.json
  charts/eap-xp3/values.yaml
  charts/eap-xp4/.helmignore
  charts/eap-xp4/Chart.yaml
  charts/eap-xp4/README.md
  charts/eap-xp4/templates/NOTES.txt
  charts/eap-xp4/templates/_helpers.tpl
  charts/eap-xp4/templates/buildconfig-bootable-jar.yaml
  charts/eap-xp4/templates/buildconfig-s2i-build-artifacts.yaml
  charts/eap-xp4/templates/buildconfig-s2i.yaml
  charts/eap-xp4/templates/deployment.yaml
  charts/eap-xp4/templates/imagestream.yaml
  charts/eap-xp4/templates/route.yaml
  charts/eap-xp4/templates/service.yaml
  charts/eap-xp4/values.schema.json
  charts/eap-xp4/values.yaml
  examples/eap-xp3/microprofile-config/README.adoc
  examples/eap-xp3/microprofile-config/microprofile-config-app.yaml
  examples/eap-xp3/todo-backend/README.adoc
  examples/eap-xp3/todo-backend/todo-backend-bootable-jar.yaml
  examples/eap-xp3/todo-backend/todo-backend-s2i.yaml
  examples/eap-xp4/microprofile-config/README.adoc
  examples/eap-xp4/microprofile-config/microprofile-config-app.yaml
  examples/eap-xp4/todo-backend/README.adoc
  examples/eap-xp4/todo-backend/todo-backend-bootable-jar.yaml
  examples/eap-xp4/todo-backend/todo-backend-s2i.yaml
Labels: documentation

[#41] Provide a default Jakarta EE application to build
  charts/eap74/Chart.yaml
  charts/eap74/README.md
  charts/eap74/values.yaml
Labels: documentation

Set rht.prod_ver metering label to 2023-Q1
  charts/eap74/templates/_helpers.tpl
Labels: none

Bump wildfly-common 1.3.2
  charts/eap74/Chart.yaml
Labels: none

Update github action to release from eap74 branch
  .github/workflows/helm.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: repo

Update widlfy-common to 2.1.1
  charts/eap8/Chart.yaml
Labels: eap8

Add options to use JDK 17 images
  charts/eap74/README.md
  charts/eap74/templates/_helpers.tpl
  charts/eap74/values.schema.json
  charts/eap74/values.yaml
  examples/eap74/helloworld-rs/README.adoc
  examples/eap74/helloworld-rs/helloworld-rs-app.yaml
Labels: documentation

delete the chart and examples for the eap74 from the main branch
  charts/eap74/.helmignore
  charts/eap74/Chart.yaml
  charts/eap74/README.md
  charts/eap74/templates/NOTES.txt
  charts/eap74/templates/_helpers.tpl
  charts/eap74/templates/buildconfig-s2i-build-artifacts.yaml
  charts/eap74/templates/buildconfig-s2i.yaml
  charts/eap74/templates/deployment.yaml
  charts/eap74/templates/imagestream.yaml
  charts/eap74/templates/route.yaml
  charts/eap74/templates/service.yaml
  charts/eap74/values.schema.json
  charts/eap74/values.yaml
  examples/eap74/helloworld-rs/README.adoc
  examples/eap74/helloworld-rs/helloworld-rs-app.yaml
  examples/eap74/todo-backend/README.adoc
  examples/eap74/todo-backend/todo-backend-s2i.yaml
Labels: documentation

[#51] Provide a default Jakarta EE 10 application to build
  charts/eap8/Chart.yaml
  charts/eap8/README.md
  charts/eap8/values.yaml
Labels: eap8, documentation

correct invalid main branch link
  index.md
Labels: repo

Fix incorrect character in README
  charts/eap74/README.md
Labels: documentation

Fix incorrect character in README
  charts/eap74/README.md
Labels: documentation

Fix invalid main branch URL
  index.md
Labels: repo

Bump version to 1.1.2
  charts/eap74/Chart.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: repo

Fix resources to pass helm linting
  charts/eap74/templates/imagestream.yaml
  charts/eap74/templates/service.yaml
Labels: none

[JBEAP-25562] Fix resources to pass helm linting
  charts/eap-xp4/templates/imagestream.yaml
  charts/eap-xp4/templates/service.yaml
Labels: none

Prepare release for EAP 8 GA
  charts/eap8/Chart.yaml
  charts/eap8/README.md
Labels: eap8, documentation

Update index.yaml
  index.yaml
Labels: repo

[JBEAP-24939]JDK 17 Support for XP 4 Helm Charts
  charts/eap-xp4/README.md
  charts/eap-xp4/templates/_helpers.tpl
  charts/eap-xp4/values.schema.json
  charts/eap-xp4/values.yaml
Labels: documentation

[JBEAP-25813] update actual rht.prod_ver value to 2023-Q4
  charts/eap8/templates/_helpers.tpl
Labels: eap8

Prepare release eap8 1.1.1
  charts/eap8/Chart.yaml
Labels: eap8

Update index.yaml
  index.yaml
Labels: repo

Update S2I images for EAP 8 GA
  charts/eap8/Chart.yaml
  charts/eap8/README.md
  charts/eap8/values.yaml
Labels: eap8, documentation

fix link to eap74's README
  index.md
Labels: repo

Update index.yaml
  index.yaml
Labels: repo

Revert "Update index.yaml"
  index.yaml
Labels: repo

Revert "Revert "Update index.yaml""
  index.yaml
Labels: repo
