Repository jbossas/eap-charts, pull requests merged in 2023-09, with the labels that each got.

#62 Prepare release for EAP 8 GA
  charts/eap8/Chart.yaml
  charts/eap8/README.md
Labels: documentation, eap8

#60 [JBEAP-24939] JDK 17 Support for XP 4 Helm Charts
  charts/eap-xp4/README.md
  charts/eap-xp4/templates/_helpers.tpl
  charts/eap-xp4/values.schema.json
  charts/eap-xp4/values.yaml
Labels: documentation, charts, eap-xp4

#61 [JBEAP-25562] Fix resources to pass helm linting
  charts/eap-xp4/templates/imagestream.yaml
  charts/eap-xp4/templates/service.yaml
Labels: charts, eap-xp4
