Repository jbossas/eap-charts, pull requests merged in 2025-02, with the labels that each got.

#83 Support JDK 21 images for EAP 8.0
  charts/eap8/README.md
  charts/eap8/templates/_helpers.tpl
  charts/eap8/values.schema.json
  charts/eap8/values.yaml
Labels: documentation, eap8

#94 Prepare Helm release 1.1.3
  charts/eap8/Chart.yaml
Labels: eap8

#82 Support JDK21 images for S2I
  charts/eap81/README.md
  charts/eap81/templates/_helpers.tpl
  charts/eap81/values.schema.json
  charts/eap81/values.yaml
Labels: documentation, eap81

#87 Support JDK 21 images for S2I
  charts/eap-xp6/README.md
  charts/eap-xp6/templates/_helpers.tpl
  charts/eap-xp6/values.schema.json
  charts/eap-xp6/values.yaml
Labels: documentation, charts, eap-xp6

#89 [JBEAP-28619] Fix startup probe
  charts/eap81/values.yaml
Labels: eap81

#73 [JBEAP-27281](XP 5) - Fix Liveness and Startup probes definition (initial delay and startup path)
  charts/eap-xp5/values.yaml
Labels: charts, eap-xp5
